

/*Responsive ocntainer of the svg elements */
/* .responsive-svg-container {
    width: 100%;
    max-width: 1200px;
} */
@media screen and (max-width: 600px) {
    .responsive-svg-container {
        max-width: 100%;
    }
    
}

.axis-label {
    font-size: 14px;
    fill: black;
}

#filter_screen {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}


#ex6-filters .filter {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffdd9a;
    color: rgb(2, 2, 2);
    transition: all 0.3s ease;
}

#ex6-filters .filter:hover {
    background-color: #d7d7d7;
    transform: scale(1.05);
}

#ex6-filters .filter.active {
    background-color: #b7875f;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.e6chart-container {
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
