:root {
    --dark-brown: #5D4037;   
    --earth-beige: #F5F5DC;  
    --energy-orange: #FF8C00; 
    --soft-orange: #FFB347;   
    --text-white: #FFFFFF;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--earth-beige);
    color: #333;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: space-between;
    background-color: var(--primary-color);
    padding: 12px 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

/*Makes logo clickable */
.logo {
    cursor: pointer;
    font-size: 2rem;
    color: var(--energy-orange);
    margin-right: 50px;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.1);
}

/* Display links are displayed horizontally*/
.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

/* Individual Navigation Item */
.nav-links li {
    color: var(--text-white);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}


.nav-links li:hover {
    background-color: var(--soft-orange);
    color: var(--dark-brown);
}


.nav-links li.active {
    background-color: var(--energy-orange);
    color: white;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}


#content-area {
    padding: 50px;
    max-width: 900px;
    margin: auto;
}


.page {
    background: white;
    padding: 30px;
    border-radius: 8px;
    min-height: 60vh;
}


.card {
    background: #fff3e0;
    border-left: 5px solid var(--energy-orange);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: var(--energy-orange);
    color: white;
}

/*Footer*/
footer {
    background-color: var(--dark-brown);
    color: var(--earth-beige);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}